@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
:root {
	--blackmore: #26282B;
	--blackless: #353941;
	--bluedark : #5F85DB;
	--bluelight: #90B8F8;
	--whitemilk: #F9F9F9;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    background-color: var(--bluelight);
    overflow: hidden;
}

.buttons {
    background-color: var(--bluedark);
    min-width: 128px;
    min-height: 64px;
    width: 15rem;
    height: 5rem;
    margin: 1.875rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 8px 4px 3px grey;
    transition: 0.3s;
    font-size: 3.25rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-align: center;
    color: white;
}

.buttons:hover {
    border: var(--bluedark) 0.35rem solid;
    background-color: white;
    width: 18.6rem;
    font-size: 4rem;
    transition: 0.3s;
    color: var(--bluedark);
}

.count {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background: white;
    /* border-radius: 0.5rem; */
    height: 5rem;
    transform: translateX(-50%);
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: default;
}

.panel {
    max-width: 40rem;
    width: 40%;
    min-width: 460px;
    height: 30rem;
    background: white;
    box-shadow: black 6px 6px 3px;
    border-radius: 6px;
    padding: 0.875rem;
    position: absolute;
    font-family: 'Montserrat';
    top: 13.5rem;
    transform: translateX(calc(50vw - 150px));
    transition: 0.3s;
    cursor: default;
}

.panel h1 {
    font-weight: bolder;
}

.panel a,
li {
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.panel span {
    color: var(--bluedark);
    font-weight: bolder;
}

.panel:hover {
    font-weight: bold;
    width: 42%;
    height: 31rem;
    top: 13rem;
    transition: 0.3s;
}

.bullets {
    position: absolute;
    bottom: 75px;
    left: calc(45% + 22px);
    animation: shoot 0.7s 0s 1 ease;
}

.ufos {
    position: absolute;
    width: 53px;
    height: 32px;
    top: 0.5rem;
    left: calc(45% + 22px);
    animation: fall 10s 0s infinite;
}

#count {
    font-weight: bolder;
}

#setting {
    height: 15rem;
    align-items: center;
    transition: 0.3s;
}

#firstbut {
    margin-top: 13rem;
}

#zone {
    background: #2c218c;
    width: 100%;
    height: calc(100vh - 5rem);
    position: absolute;
    bottom: 0;
    cursor: none;
    z-index: -1;
}

#rocket {
    width: 58px;
    height: 53px;
    position: absolute;
    bottom: 20px;
    left: 45%;
}

@keyframes shoot {
    0% {
        bottom: 75px;
    }
    100% {
        bottom: calc(100vh - 5.5rem);
    }
}

@keyframes fall {
    0% {
        top: 0.5rem;
    }
    100% {
        top: calc(100vh - 5.5rem);
    }
}
