* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #2be814, #29aecf, #2977d6, #05c351);
  background-size: 100% 100%;
  animation: gradient 8s ease infinite;
}
body hr{
	width:100%;
}
#menu ul {
  
  list-style-type: none;
  text-align: center;
  background: linear-gradient(45deg, #000000, #29aecf, #0e478c, #000a84);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 150px;
  height: 55px;
  line-height: 40px;

  text-align: center;
}
#menu ul li a {
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 40px;

  margin-top: 8px;
}
#menu ul li a:hover {
   background: #f1f1f1;
   color: #333;
}
.sub-menu li {
  display: none;
}
.Menu {
	text-align: center;
}
#menu li {
  position: relative;
}
.sub-menu {
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0;
}
h1 {
	font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#botpage {
	background-color: #373737;
}
#iright {
       position: relative;
}
#iright img {
       position: absolute;
	   top: 50px;
       right: 10%;
	   
	   height:150px;
}
#ileft {
       position: relative;
}
#ileft img {
       position: absolute;
	   top: 50px;
       left: 8%;
	   
	   height:150px;
}
#bottext {
		position: relative;
		left: 8%;
}
#bmenu {
       position: fixed;
	   color:#ff0000;
       left: 10px;
	   top:65px;
	   height:120px;
	   width:80px;
}
#bmenu ul li a{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
	font-weight:bold;
    text-decoration: none;
	text-align:center;
    line-height: 30px;
}
#sub-bmenu {
	display:none;
}
#bmenu ul li a:hover {
   background: #f1f1f1;
   color: #333;
   height:50px;
}
#part2 {
	background: linear-gradient(45deg, #000000, #29aecf, #092e5b, #000757);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
#part4 {
	background: linear-gradient(45deg, #000000, #29aecf, #092e5b, #000757);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
#part3 {
	background: linear-gradient(-45deg, #5eff4b, #89e8ff, #5da6ff, #00ff66);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
#part5 {
	background: linear-gradient(-45deg, #5eff4b, #89e8ff, #5da6ff, #00ff66);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}