* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #ffffff, #d8edea, #c8edea, #b8edea);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
#menu ul {
  
  list-style-type: none;
  text-align: center;
  background: linear-gradient(-45deg, #1f708b, #1F568B, #531f8b, #1f568b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 150px;
  height: 55px;
  line-height: 40px;

  text-align: center;
}
#menu ul li a {
  color: #f1f1f1;
  font-family: Tahoma;
  font-size: 19px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 40px;

  margin-top: 8px;
}
#menu ul li a:hover {
   background: #f1f1f1;
   color: #333;
}
.sub-menu li {
  display: none;
}
.Menu {
	text-align: center;
}
#menu li {
  position: relative;
}
.sub-menu {
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0;
}
h1 {
	font-family: Bahnschrift;
    text-align: center;
}
#botpage {
	background: linear-gradient(-45deg, #1f708b, #1F568B, #531f8b, #1f568b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
#iright {
       position: relative;
}
#iright img {
       position: absolute;
	   top: 0px;
       right: 100px;
	   width: 150px;
	   height:150px;
}
#ileft {
       position: relative;
}
#ileft img {
       position: absolute;
	   top: 0px;
       left: 100px;
	   width: 150px;
	   height:150px;
}
#bottext {
		position: relative;
		left: 100px;
		color: #000000;
}